* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  background-color: white;
  color: black;
  overflow-x: hidden;
}
main {
  margin-top: 100px;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn-reserve {
  font-size: 1.2rem;
  color: white;
  background-color: rgba(black, 1);
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.7rem 1rem 0.7rem 1rem;
}

.btn-reserve:hover {
  cursor: pointer;
  background-color: #fbfcd4;
  color: #151515;
}

.home {
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/joodam.jpg');
  background-size: cover;
  &-wrap {
    padding: 0 3rem 0 3rem;
    background-color: rgba(darkgray, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
  }
  &-item {
    width: 33%;
    color: white;
    font-size: 6rem;
    text-shadow: 3px 3px 3px rgba(black, 0.6);
  }
  &-item:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 1rem;
  }
}

.food {
  padding: 1rem 10rem 1rem 10rem;
  .title-price {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    .title {
      display: flex;
      gap: 0.5rem;
    }
  }
  .spicy {
    display: flex;
    gap: 0.4rem;
  }
  .title-ko {
    font-size: 0.9rem;
  }
  .description {
    font-size: 0.8rem;
    font-weight: light;
  }
  .option {
    font-size: 1.1rem;
    font-weight: 700;
  }
  &-item {
    padding-top: 190px;
    &-title {
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      gap: 3rem;
      font-size: 2rem;
      font-weight: bold;
      align-items: center;
    }
    &-wrap {
      padding-top: 1rem;
      display: flex;
      gap: 5rem;
    }
    &-menuitems {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      &-detail {
        width: 45%;
      }
    }
  }
}

.drink {
  padding: 1rem 10rem 1rem 10rem;
  .title-price {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    .title {
      display: flex;
      gap: 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .price {
      display: flex;
      gap: 0.5rem;
      font-weight: 600;
      .volumn {
        font-weight: normal;
      }
    }
  }
  &-item {
    padding-top: 190px;
    &-title {
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      gap: 3rem;
      font-size: 2rem;
      font-weight: bold;
      align-items: center;
    }
    &-wrap {
      padding-top: 1rem;
      display: flex;
      gap: 5rem;
      .SubTitle {
        font-size: 1.5em;
        font-weight: 900;
        padding: 1rem 0 1rem 0;
      }
    }
    &-menuitems {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      &-detail {
        width: 30%;
        padding-left: 1rem;
      }
      .option {
        width: 48%;
        padding-left: 1rem;
      }
      .soju {
        width: 100%;
      }
    }
  }
}
.menu {
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
  font-size: 10rem;
  text-shadow: 3px 3px 3px rgba(black, 0.6);
  &-food {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/food.jpg');
    background-size: cover;
    div {
      padding-top: 40%;
      height: 100vh;
      background-color: rgba(black, 0.3);
    }
    div:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 1rem;
      background-color: rgba(white, 0.6);
      color: black;
      text-shadow: none;
    }
  }
  &-drink {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/drink.jpg');
    background-size: cover;
    div {
      padding-top: 40%;
      height: 100vh;
      background-color: rgba(black, 0.3);
    }
    div:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 1rem;
      background-color: rgba(white, 0.6);
      color: black;
      text-shadow: none;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 50%;
  }
}

.location {
  text-align: center;
  .locationgoogle:hover {
    cursor: pointer;
  }
  &-info {
    padding: 2rem 0rem 2rem 0rem;
    font-size: 1.3rem;
    line-height: 2rem;
    .title {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 3rem;
    }
  }
}

@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    min-width: 725px;
  }
  .btn-reserve {
    font-size: 1rem;
  }

  main {
    margin-top: 100px;
  }

  .home {
    &-wrap {
      padding: 0 2rem 0 2rem;
    }
    &-item {
      font-size: 3.5rem;
    }
  }

  .food {
    padding: 1rem 3rem 1rem 3rem;
    &-item {
      padding-top: 100px;
      &-title {
        flex-direction: column;
        gap: 2rem;
      }
      &-wrap {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        .foodmenuimage {
          margin: auto;
          display: block;
        }
      }
    }
  }

  .drink {
    padding: 1rem 3rem 1rem 3rem;
    &-item {
      padding-top: 100px;
      &-title {
        flex-direction: column;
        gap: 2rem;
      }
      &-wrap {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        &-detail {
          padding-left: 1rem;
        }
        .foodmenuimage {
          margin: auto;
          display: block;
        }
      }
      &-menuitems {
        &-detail {
          width: 48%;
        }
      }
    }
  }
  .menu {
    font-size: 5rem;
  }

  .gallery {
    flex-wrap: nowrap;
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
    }
  }

  .location {
    padding-top: 5%;
    text-align: center;
    .locationimg {
      width: 250px;
      height: auto;
    }
    .locationgoogle {
      width: 400px;
      height: auto;
    }
    &-info {
      font-size: 1rem;
      .title {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    min-width: 320px;
  }

  .btn-reserve {
    font-size: 1rem;
  }

  main {
    margin-top: 70px;
  }
  .home {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/joodam_mobile.jpg');
    background-size: cover;
    &-wrap {
      padding: 1rem;
      flex-direction: column;
      padding-top: 20vh;
    }
    &-item {
      width: 100%;
      font-size: 3.5rem;
    }
  }

  .food {
    padding: 1rem 1rem 1rem 1rem;
    &-item {
      padding-top: 70px;
      &-title {
        flex-direction: column;
      }
      &-wrap {
        padding-top: 1rem;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        .foodmenuimage {
          width: 290px;
          height: 290px;
          margin: auto;
          display: block;
        }
      }
      &-menuitems {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 1rem;
        &-detail {
          width: 100%;
        }
      }
    }
  }

  .drink {
    padding: 1rem 1rem 1rem 1rem;
    .wine {
      flex-direction: column;
      align-items: flex-start;
    }
    &-item {
      padding-top: 70px;
      &-title {
        flex-direction: column;
        gap: 3rem;
      }
      &-wrap {
        padding-top: 1rem;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        .foodmenuimage {
          width: 290px;
          height: 290px;
          margin: auto;
          display: block;
        }
      }
      &-menuitems {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 1rem;
        &-detail {
          width: 100%;
        }
      }
      .option {
        width: 100%;
      }
      .soju {
        width: 100%;
      }
    }
  }

  .menu {
    flex-direction: column;
    font-size: 5rem;
    &-food {
      height: 50vh;
      div {
        padding-top: 20%;
      }
    }
    &-drink {
      height: 50vh;
      div {
        padding-top: 20%;
      }
    }
  }

  .gallery {
    flex-wrap: nowrap;
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
    }
  }

  .location {
    padding-top: 10%;
    text-align: center;
    .locationimg {
      width: 200px;
      height: auto;
    }
    .locationgoogle {
      width: 300px;
      height: auto;
    }
    &-info {
      font-size: 1rem;
      .title {
        font-size: 1.2rem;
      }
    }
  }
}
